body {
    background: #4D515D;
    font-family: Roboto, sans-serif;
}

.main-content {
    margin: 70px auto;
    width: 1000px;
    height: 500px;
    background: white;
    border-radius: 5px;
}

.text {
    width: 60%; 
    height: 100%;
}

.image {
    width: 40%;
    height: 100%;
}

.image img {
    width: 400px;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

.header {
    margin: 30px auto;
    padding: 20px 40px;
    
}

.header h1 {
    font-size: xx-large;
    font-weight: 400;
    margin-bottom: 0;
}

.footer {
    padding: 0px 40px;
    font-size: x-small;
    
}

.footer .email {
    color: #8C8D8F;
}

.log {
   font-size: x-small;
    font-weight: 900;
    color: #9FA4A9;
}

.goo {
    margin-top: 35px;
   
}

.sub {
    color: #AEAEAF;
    font-weight: 700;
    font-size: small;
    margin-top: 15px;
    
}

.login {
    border: solid 0.2px #EEF0F3;
    padding-top:15px;
    padding-left: 35px;
    text-align: center;
    margin-bottom: 20px;
    height: 30px;
    
}

.login:hover {
    cursor: pointer;
    -mos-box-shadow: 0 4px 2px -2px gray;
    -webkit-box-shadow: 0 4px 2px -2px gray;
    box-shadow: 0 10px 2px -2px gray;
}

.login img {
    width: 20px;
    height: 20px;
    margin-right: 200px;
}

.login h4 {
    margin: 0;
}
 
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

hr {
    border: solid 0.7px #EEF0F3;
}

.email:hover {
    color: black;
    cursor: pointer;
}