body {
    background-color: white;
    padding: auto auto;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 40px auto;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    padding-top: 60px
}

.main-content {
    margin: 5px auto;
    background-color: white;
    
    width: 350px;
}

.header {
    text-align: center;
    height: 120px;
    border: solid 1px black;
    
}

.title {
    text-transform: uppercase;
    font-weight: 500;
}

.h-r{
   margin-bottom: 100px;
}

.card {
    padding: 0;
    height: 60px;
    border: solid yellow 1px;
}

.next {
    height: 50px;
}
.card img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: solid black 1px;
    margin-left: 15px;
}

.card-name {
    text-transform: uppercase;
    border: solid pink 1px;
}

.next {
    text-align: center;
    background-color: blue;
}