body {
    padding: auto auto;
    font-family: Roboto, sans-serif;
    background-image: url("/img/background.jpg");
}

.main-content {
    margin: 80px auto;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    height: 350px;
}

.header {
    text-align: center;
    padding-top: 20px;
    height: 100px;
}

.header h2 {
    text-transform: uppercase;
    margin-bottom: 31px;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.card hr {
    margin: 0;
   
}

.header hr {
    
}

.name h3, direct h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: medium;
    
}

.name h3 {
    margin-top: 20px;
}


.card:hover {
    background-color: darkgray;
    cursor: pointer;
}

.card {
    height: 60px;
    
}

.next button:hover {
    cursor: pointer;
}

.card img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 4px;
}

.next {
    background-color: blue; 
    padding: 0px;
    width: 100%;
    margin: 0;
    height: 52px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.next button {
    width: 100%;
    color: white;
    background-color: blue;
    height: 100%;
    outline:none;
}

.next button img {
    width: 15px;
    height: 15px;
    padding: 0
}

.check img {
   width: 20px;
   height: 20px;
   margin-top: 20px;
}

.float-right {
    float: right;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dot:first-child {
    background-color: rgb(58, 57, 57);
}

#mastercard, #maestro {
   margin-top: 0px;
}